In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [21]:
df = pd.read_csv("./datasets/reviews.csv", usecols=['SKU', 'PRICE', 'DATE_OF_CREATION', 'LAST_UPDATED_DATE', 'STATES'], parse_dates=['DATE_OF_CREATION', 'LAST_UPDATED_DATE'])

In [24]:
# or to convert object into datetime -> pd.to_datetime(df['column_name'])

In [25]:
df.head()

             SKU   PRICE DATE_OF_CREATION LAST_UPDATED_DATE             STATES
0  8904417301922  499.00       2022-09-13        2022-09-19      Uttar Pradesh
1  8904417301915  499.00       2022-09-13        2022-09-19  Arunachal Pradesh
2  8904417301908  499.00       2022-09-13        2022-09-19          Karnataka
3  8904417301892  499.00       2022-09-13        2022-09-19            Gujarat
4  8904417303377  498.00       2022-09-01        2022-09-12     Madhya Pradesh

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31814 entries, 0 to 31813
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SKU                31814 non-null  object
 1   PRICE              31814 non-null  object
 2   DATE_OF_CREATION   31814 non-null  datetime64[ns]
 3   LAST_UPDATED_DATE  31814 non-null  datetime64[ns]
 4   STATES             31814 non-null  object
dtypes: datetime64[ns](2), object(3)
memory usage: 1.2+ MB

In [33]:
# to extract year,month or day from datetime
# df['name'].dt.<year | month | day>
df['DATE_OF_CREATION'].dt.year

0        2022
1        2022
2        2022
3        2022
4        2022
         ...
31809    2021
31810    2021
31811    2021
31812    2021
31813    2021
Name: DATE_OF_CREATION, Length: 31814, dtype: int32

In [35]:
# to extract month name from its number
df['DATE_OF_CREATION'].dt.month_name()

0        September
1        September
2        September
3        September
4        September
           ...
31809        March
31810        March
31811        March
31812        March
31813        March
Name: DATE_OF_CREATION, Length: 31814, dtype: object

In [38]:
# day of week
df['DATE_OF_CREATION'].dt.dayofweek

0        1
1        1
2        1
3        1
4        3
        ..
31809    3
31810    3
31811    3
31812    3
31813    3
Name: DATE_OF_CREATION, Length: 31814, dtype: int32

In [41]:
# day of week
df['DATE_OF_CREATION'].dt.day_name()

0         Tuesday
1         Tuesday
2         Tuesday
3         Tuesday
4        Thursday
           ...
31809    Thursday
31810    Thursday
31811    Thursday
31812    Thursday
31813    Thursday
Name: DATE_OF_CREATION, Length: 31814, dtype: object

In [49]:
df['DAY_NAME'] = df['DATE_OF_CREATION'].dt.day_name()

In [58]:
# df['DAY_NAME'].isin(['Sunday','Saturday'])
df['DATE_IS_WEEKEND'] = np.where(df['DAY_NAME'].isin(['Sunday','Saturday']), 1,0)

In [94]:
df.head()

,SKU,PRICE,DATE_OF_CREATION,LAST_UPDATED_DATE,STATES,DAY_NAME,DATE_IS_WEEKEND
0,8904417301922,499.00,2022-09-13,2022-09-19,Uttar Pradesh,Tuesday,0
1,8904417301915,499.00,2022-09-13,2022-09-19,Arunachal Pradesh,Tuesday,0
2,8904417301908,499.00,2022-09-13,2022-09-19,Karnataka,Tuesday,0
3,8904417301892,499.00,2022-09-13,2022-09-19,Gujarat,Tuesday,0
4,8904417303377,498.00,2022-09-01,2022-09-12,Madhya Pradesh,Thursday,0